            

<div class="cont">
    <div  class="signIn">
    <h1>Welcome To TechVista</h1>
        <img src="{{ pic }}">
    <input id="username" placeholder="Username" ng-model="username" style="border-bottom: 1.5px solid {{ errorColor }};/"><br/>
    <input  type="password" id="password" placeholder="Password" ng-model="password" style="border-bottom: 1.5px solid {{ passColor }};"/><br/>
    <div class="btn" ng-click="submit()">SignIn</div>
    <br>
    <br>
    {{ alert }}
   
    </div>
    
</div>
        