<ng-include ng-if="showLoader" src="'../partials/animations/loading.html'"></ng-include>

<div class="cont quizHome" id="guideWrap" ng-if="!showLoader">
    
    <div class="homeTextWrapper">
        <div class="darkHeader"><h1>Guidelines</h1></div>
        <div class="guideText">
            <br>
            <br>
            <div class="shortData guidelines">
              <ul>
                <li>The participants can make full use of the internet to find the answers.</li><br>
                <li>There can be multile participants per school, but the one with the highest rank from a particular school will represent that school
                  <ul>
                    <li>Say, Participants A, B, C from school X are on the top three positions and particpant D from school Y is fourth, then A will be declared the winner and Y the runner-up.</li>
                    </ul>
                </li><br>
                <li>There are atleast 3 hidden hints for each question which the participants have to connect to get the final answer</li><br>
                <li>You have infinite tries.</li><br>
                <li>All the answers are to be entered in lower case and it can be alphanumeric without spaces. Say the connect is “343 Studios”, then the answer would be “343studios”.</li><br>
                  <li>Additional hint would be provided on the question page if people are stuck on it for more than 24 hours and no one has advanced from that question.</li><br>
                  <li>If many people are stuck on a stage but someone has answered that question, additional hints to that question would be provided on our facebook page.</li><br>
                  <li>As the hints are accesible only on a PC, it is recommended to use the desktop site.</li><br>
                 <li>For more updates, stay tuned to our <strong><a href="https://www.facebook.com/TechVista16/">Facebook</a></strong> page</li><br>
                  <li>Try a panda for first.</li><br>
                  <li>Also, consider your Enter key non-functional #clicksubmit.</li>
              </ul>
            </div>         
        </div>
    </div>                
</div>

        
      
   