<div class="secondViewWrap">
<div class="updates">
<p>TechVista 2018 to be held on 25th August.</p>
<br>
<br>
<p>Online ITQuest will start on 14th August, 2018.<br> Stay tuned!</p>
</div>
<div class="menuTileWrapper">
        
        <div class="tileWrapper" ng-repeat="menu in tileList">
            <a href="#/{{ menu.link }}" ng-click="openMenu()"><li class="menuTiles">{{ menu.label }}</li></a>
            
        </div>
      
</div>
</div>



<div class="about">
   
    <p class="updatesMobile">TechVista 2018 to be held on 25th August.</p>
    <p class="updatesMobile">ITQuest website to be released on 14th August, 2018.</p>
    <h1>About TechVista</h1>
    <p>Held bienially at Seth M.R. Jaipruia School, Lucknow, TechVista is an entirely student-run event and has the distinction of being one of the most popular I.T. Festivals in Uttar Pradesh. Since its inception in 2007, it has offered students an unrivaled experience and has been the paragon of professionalism and dynamism. It provides ardent young minds an opportunity to display their talents and compete in various events, ranging from coding to spelling and from debating to gaming.</p>
    <br><br> 

</div>
